$selector: '.input';

#{$selector} {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__wrapper {
    align-items: flex-start;
    background-color: color(default-100);
    cursor: text;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: spacing(2) spacing(3);
    position: relative;

    @include font(label);

    @include hover-pointer-fine {
      &:hover {
        background-color: color(default-50);
      }
    }

    &:focus-within #{$selector}__label {
      transform: matrix(0.85, 0, 0, 0.85, 0, -11);
    }

    &:focus-within #{$selector}--size-sm #{$selector}__label {
      transform: matrix(0.85, 0, 0, 0.85, 0, -8);
    }

    &--error {
      background-color: color(red-100);
      color: color(danger);

      #{$selector}__label {
        color: inherit;
      }

      @include hover-pointer-fine {
        &:hover {
          background-color: color(red-50);
        }
      }
    }

    &--disabled {
      opacity: var(--nextui-disabled-opacity);
      pointer-events: none;
    }

    &--size {
      &-sm {
        height: size(48);

        #{$selector}__label--active {
          transform: matrix(0.85, 0, 0, 0.85, 0, -8);
        }
      }

      &-md {
        height: size(56);
      }

      &-lg {
        height: size(64);

        @include font(body);
      }
    }

    &--radius {
      &-sm {
        border-radius: radius(sm);
      }

      &-md {
        border-radius: radius(md);
      }

      &-lg {
        border-radius: radius(lg);
      }

      &-full {
        border-radius: radius(full);
      }
    }
  }

  &__label {
    color: color(default-500);
    display: block;
    flex-shrink: 0;
    padding-inline-end: spacing(2);
    pointer-events: none;
    position: absolute;
    transform-origin: top left;
    transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    will-change: auto;

    &--active {
      transform: matrix(0.85, 0, 0, 0.85, 0, -11);
    }
  }

  &__inner-wrapper {
    align-items: flex-end;
    display: inline-flex;
    gap: spacing(2);
    height: 100%;
    width: 100%;
  }

  &__input {
    background-clip: text;
    font: inherit;
    width: 100%;

    &::placeholder {
      color: color(default-400);
    }
  }

  &__helper-wrapper {
    padding: spacing();
  }

  &__helper-text {
    color: color(default-400);

    @include font(caption);

    &--error {
      color: color(danger);
    }
  }
}
