@use 'sass:map';
@use 'sass:color';

@function rgbCalculator($selected-color: null) {
  @return color.red($selected-color), color.green($selected-color),
    color.blue($selected-color);
}

$colors: (
  text-primary: #11181c,
  text-secondary: #707070,
  light: #fff,
  dark: #000,
  background: #fff,
  foreground: #11181c,
  focus: #006fee,
  content-1: #fff,
  content-2: #f4f4f5,
  content-3: #e4e4e7,
  content-4: #d4d4d8,
  default: #d4d4d8,
  primary: #006fee,
  secondary: #7828c8,
  success: #17c964,
  warning: #f5a524,
  danger: #f31260,
  default-50: #fafafa,
  default-100: #f4f4f5,
  default-200: #e4e4e7,
  default-300: #d4d4d8,
  default-400: #a1a1aa,
  default-500: #71717a,
  default-600: #52525b,
  default-700: #3f3f46,
  default-800: #27272a,
  default-900: #18181b,
  primary-50: #e6f1fe,
  primary-100: #cce3fd,
  primary-200: #99c7fb,
  primary-300: #66aaf9,
  primary-400: #338ef7,
  primary-500: #006fee,
  primary-600: #005bc4,
  primary-700: #004493,
  primary-800: #002e62,
  primary-900: #001731,
  secondary-50: #f2eafa,
  secondary-100: #e4d4f4,
  secondary-200: #c9a9e9,
  secondary-300: #ae7ede,
  secondary-400: #9353d3,
  secondary-500: #7828c8,
  secondary-600: #6020a0,
  secondary-700: #481878,
  secondary-800: #301050,
  secondary-900: #180828,
  green-50: #e8faf0,
  green-100: #d1f4e0,
  green-200: #a2e9c1,
  green-300: #74dfa2,
  green-400: #45d483,
  green-500: #17c964,
  green-600: #12a150,
  green-700: #0e793c,
  green-800: #095028,
  green-900: #052814,
  yellow-50: #fefce8,
  yellow-100: #fdedd3,
  yellow-200: #fbdba7,
  yellow-300: #f9c97c,
  yellow-400: #f7b750,
  yellow-500: #f5a524,
  yellow-600: #c4841d,
  yellow-700: #936316,
  yellow-800: #62420e,
  yellow-900: #312107,
  red-50: #fee7ef,
  red-100: #fdd0df,
  red-200: #faa0bf,
  red-300: #f871a0,
  red-400: #f54180,
  red-500: #f31260,
  red-600: #c20e4d,
  red-700: #920b3a,
  red-800: #610726,
  red-900: #310413,
);
$colors-rgb: ();

@each $key, $value in $colors {
  $temp: (
    $key: #{rgbCalculator($value)},
  );
  $colors-rgb: map.merge($colors-rgb, $temp);
}
