$selector: '.button';

#{$selector} {
  align-items: center;
  display: inline-flex;
  font-weight: 500;
  gap: spacing(2);
  height: size(40);
  justify-content: center;
  min-width: size(64);
  padding-inline: spacing(4);
  transition: all 150ms ease-out;
  user-select: none;

  @include font(label);

  @include hover-pointer-fine {
    &:hover {
      opacity: 0.8;
    }
  }

  &:active {
    transform: scale(0.97);
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &:focus-visible {
    outline: 2px solid color(focus);
    outline-offset: 1px;
    z-index: zIndex(resting);
  }

  &--fab {
    min-width: auto;
    padding: 0;

    &#{$selector}-size {
      &--sm {
        width: size(32);
      }

      &--md {
        width: size(40);
      }

      &--lg {
        width: size(48);
      }
    }
  }

  &-size {
    &--sm {
      height: size(32);
    }

    &--lg {
      height: size(48);
    }
  }

  &-radius {
    &--none {
      border-radius: 0;
    }

    &--sm {
      border-radius: radius(sm);
    }

    &--md {
      border-radius: radius(md);
    }

    &--lg {
      border-radius: radius(lg);
    }

    &--full {
      border-radius: radius(full);
    }
  }

  &-theme {
    &--primary {
      background-color: color(primary);
      color: color(primary);
    }

    &--secondary {
      background-color: color(secondary);
      color: color(secondary);
    }

    &--default {
      background-color: color(default);
      color: color(foreground);
    }
  }

  &-variant {
    &--solid {
      &#{$selector}-theme--primary,
      &#{$selector}-theme--secondary {
        color: color(light);
      }
    }

    &--flat {
      &#{$selector}-theme--default {
        background-color: color(default, 0.2);
      }

      &#{$selector}-theme--primary {
        background-color: color(primary, 0.2);
      }

      &#{$selector}-theme--secondary {
        background-color: color(secondary, 0.2);
      }
    }

    &--ghost {
      background-color: transparent;
      border: 1px solid currentColor;

      &#{$selector}-theme--default {
        border-color: color(default);

        @include hover-pointer-fine {
          &:hover {
            background-color: color(default);
          }
        }
      }

      &#{$selector}-theme--primary {
        border-color: color(primary);

        @include hover-pointer-fine {
          &:hover {
            background-color: color(primary);
            color: color(light);
            opacity: 1;
          }
        }
      }

      &#{$selector}-theme--secondary {
        border-color: color(secondary);

        @include hover-pointer-fine {
          &:hover {
            background-color: color(secondary);
            color: color(light);
            opacity: 1;
          }
        }
      }
    }

    &--light {
      background-color: transparent;

      &#{$selector}-theme--default {
        @include hover-pointer-fine {
          &:hover {
            background-color: color(default, 0.2);
          }
        }
      }

      &#{$selector}-theme--primary {
        @include hover-pointer-fine {
          &:hover {
            background-color: color(primary, 0.2);
            opacity: 1;
          }
        }
      }

      &#{$selector}-theme--secondary {
        @include hover-pointer-fine {
          &:hover {
            background-color: color(secondary, 0.2);
            opacity: 1;
          }
        }
      }
    }
  }
}
