$selector: '.circular-progress';

#{$selector} {
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    animation: spinner 1s ease infinite;
    border: size(3) solid transparent;
    border-radius: radius(full);
    border-top-color: transparent !important;
    content: '';
  }

  &--light {
    &::after {
      border-color: color(foreground);
    }
  }

  &--dark {
    &::after {
      border-color: color(default-100);
    }
  }

  &--sm {
    &::after {
      height: size(16);
      width: size(16);
    }
  }

  &--md {
    &::after {
      height: size(20);
      width: size(20);
    }
  }

  &--lg {
    &::after {
      height: size(32);
      width: size(32);
    }
  }

  &--xl {
    &::after {
      height: size(40);
      width: size(40);
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}
